<html>
<head>
    <title>Flask Application</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus itaque suscipit dolor reiciendis doloribus! Dolorem commodi omnis eveniet doloremque sunt dignissimos facilis, error similique molestias! Magni omnis quasi esse necessitatibus earum. Debitis in quas nam magni modi repellat veniam. Eos cumque sunt asperiores ullam harum laboriosam sint fuga commodi hic.</p>
    <p><a href="/about">About Page</a></p>
</body>
</html>
